
h1{
    font-size: 5.770rem;  
    font-family: $barlow-sans;
}
h2{
    font-size: 4.333rem;  
    font-family: $barlow-sans;
}
h3{
    font-size: 2.687rem;  
    font-family: $barlow-sans;
}
h4{
    font-size: 2.2082rem; 
    font-family: $barlow-sans; 
}
h5{
    font-size: 1.667rem; 
    font-family: $barlow-sans; 
}

h6{
    font-size: 1.5rem;  
    font-family: $barlow-sans;
    margin: 2rem 1.25rem 1.25rem;
};
