$barlow-sans: 'Barlow', sans-serif;

/* primary colors */

$primary-dark-cerulean-blue: #005a8c;
$primary-black-pearl-blue: #002438;
$primary-prussian-blue: #003654;
$primary-prussian-light-blue: #004870;
$primary-shalespeare-light-blue: #669CBA;
$primary-regent-st-light-blue: #99BDD1;
$primary-alice-light-blue: #E5F3FA;

$primary-tangerine-orange: #EF8200;
$primary-bakers-chocolate-orange: #603400;
$primary-Tenne-orange: #BF4E00;
$primary-Tenne-light-orange: #BF6800;
$primary-rajah-light-orange: #EF8200;
$primary-peach-light-orange: #EF8200;
$primary-blanched-almond-light-orange: #FCE6CC;


/* secondary colors */


$secondary-vida-loca-green:#5A8E22;
$secondary-pine-tree-green:#24390E;
$secondary-seaweed-green:#365514;
$secondary-green-leaf-green:#48721B;
$secondary-olivine-green:#9CBB7A;
$secondary-pixie-green:#BDD2A7;
$secondary-frostee-green:#DEE8D3;

$secondary-americano-purple:#702C6A;
$secondary-mardi-gras-purple:#2D122A;
$secondary-blackberry-purple:#431A40;
$secondary-palatinate-purple:#5A2355;
$secondary-london-purple:#A980A6;
$secondary-lilac-purple:#C6ABC3;
$secondary-snuff-purple:#E2D5E1;

$secondary-americano-brown:#88746A;
$secondary-sambuca-brown:#362E2A;
$secondary-paco-brown:#524640;
$secondary-dorado-brown:#6D5D55;
$secondary-martini-brown:#AEA6A3;
$secondary-swiss-coffee-brown:#CFC7C3;
$secondary-fair-pink-brown:#E7E3E1;


